/AdvancedREPO.Config/obj
/AdvancedREPO.Config.Patcher/obj
/AdvancedREPO.Patcher/obj
/AdvancedREPO.Stamina/obj
/AdvancedREPO.Stamina.Patcher/obj
/AdvancedREPO.Utils/obj
/output
/.vs
/AdvancedREPO.API.Stamina.Patcher/obj
/AdvancedREPO.API.Stamina/bin
/AdvancedREPO.API.Stamina/obj
